[Unit]
Description=Monitor for Automatic File Distributor (AFD) for %i
PartOf=afdmon.target

[Service]
Type=notify
EnvironmentFile=/etc/afdmon/%i_environment.conf
RuntimeDirectory=%n
User=%i
ExecStart=/usr/bin/afd_mon -sn %n -nd
ExecStop=/usr/bin/mafd -S
KillMode=control-group
Restart=on-abnormal
WatchdogSec=40
WatchdogSignal=SIGTERM

[Install]
WantedBy=afdmon.target
