afdcfg
afdcmd
afdipdbcmd
afd_hex_print
afd_status
afdtr
cache_spy
convert_fsa
convert_stat
current_job_list_spy
dc_id_spy
dir_spy
dup_spy
file_mask_list_spy
fra_edit
fra_view
fsa_edit
fsa_view
gen_file
get_dc_data
get_hostname
grib2wmo
jid_view
queue_spy
rm_job
set_counter
set_pw
udc
view_ls_data

# Extra programms
afdconvert
bfc
binfc
byte_order
convert_jid
count_burst
convert_ls_data
del_cache
dc_proc_spy
fax2gts
get_counter
get_checksum
get_full_date
get_file_size
gts2tiff
linger
reset_fsa
rdu
sysconf
tiff_sniffer
watch_dir
fra_version
view_error_queue
